<nav class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-header">
        <a ui-sref="home" class="navbar-brand"  ng-click="isCollapsed=true"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right" ng-switch on="vm.isLogged()">
                <!--<li uib-dropdown>-->
                    <!--<a href="#" uib-dropdown-toggle>Información <b class="caret"></b></a>-->
                    <!--<ul uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
                        <!--<li role="menuitem">-->
                            <!--<a ui-sref="home" ng-click="isCollapsed=true">Vista general</a>-->
                        <!--</li>-->
                        <!--<li role="menuitem">-->
                            <!--<a ui-sref="ada" ng-click="isCollapsed=true">Edificio Ada Byron</a>-->
                        <!--</li>-->
                        <!--<li role="menuitem">-->
                            <!--<a ui-sref="betan" ng-click="isCollapsed=true">Edificio Betancourt</a>-->
                        <!--</li>-->
                        <!--<li role="menuitem">-->
                            <!--<a ui-sref="torres" ng-click="isCollapsed=true">Edificio Torres Quevedo</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li>
                    <a ui-sref="gestionInventario" ng-switch-when="true">
                        <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                        <span>Gestionar Inventario</span>
                    </a>
                </li>
                <li>
                    <a href="" ng-switch-when="true" ng-click="vm.logout()" id="logout">
                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                        <span>Cerrar sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>