<style>
    .row {
        margin-bottom: 20px;
    }

    h1,h2 {
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8" ng-switch
             on="vm.products.length == 0">
            <div class="row" ng-switch-when="true">
                <h1>
                    Gestión de su inventario
                </h1>
                <div class="jumbotron">
                    <div class="container text-center">
                        <p>¡Uy! Parece ser que no existen productos en el inventario</p>
                    </div>
                </div>
            </div>
            <div class="row" ng-switch-when="false">
                <h1>
                    Gestión de su inventario
                </h1>
                <table ng-table="vm.inventario" class="table table-bordered" id="accordion">
                    <tbody ng-repeat="row in $data" ng-form="rowForm" style="text-align: center" data-toggle="collapse"
                           data-target="#{{row.nombreProducto}}" data-parent="#accordion" class="accordion-toggle">
                    <tr>
                        <td data-title="'Nombre'" sortable="'nombreProducto'"
                            filter="{nombreProducto: 'text'}">{{row.nombreProducto}}
                        </td>
                        <td title="'Cantidad'" filter="{cantidad: 'number'}" sortable="'cantidad'"
                            ng-switch="row.isEditing" ng-class="cantidad.$dirty ? 'bg-warning' : ''"
                            ng-form="cantidad">
                            <span ng-switch-default class="editable-text">{{row.cantidad}}</span>
                            <div class="controls" ng-class="cantidad.$invalid && cantidad.$dirty ?
                            'has-error' : ''" ng-switch-when="true">
                                <input type="number" name="cantidad" ng-model="row.cantidad"
                                       class="editable-input form-control input-sm" required/>
                            </div>
                        </td>
                        <td title="'Mínimo'" filter="{cantidadMinima: 'number'}" sortable="'cantidadMinima'"
                            ng-switch="row.isEditing" ng-class="cantidadMinima.$dirty ? 'bg-warning' : ''"
                            ng-form="cantidadMinima">
                            <span ng-switch-default class="editable-text">{{row.cantidadMinima}}</span>
                            <div class="controls" ng-class="cantidadMinima.$invalid && cantidadMinima.$dirty ?
                            'has-error' : ''" ng-switch-when="true">
                                <input type="number" name="cantidadMinima" ng-model="row.cantidadMinima"
                                       class="editable-input form-control input-sm" required/>
                            </div>
                        </td>
                        <td title="'Caducidad'" filter="{fechaCaducidad: 'text'}" sortable="'fechaCaducidad'"
                            ng-switch="row.isEditing" ng-class="fechaCaducidad.$dirty ? 'bg-warning' : ''"
                            ng-form="fechaCaducidad">
                            <span ng-switch-default class="editable-text">{{row.fechaCaducidad | date:'dd/MM/yyyy'}}</span>
                            <div class="controls" ng-class="fechaCaducidad.$invalid && fechaCaducidad.$dirty ?
                            'has-error' : ''" ng-switch-when="true">
                                <md-datepicker name="fechaCaducidad" ng-model="row.fechaCaducidad"
                                               md-placeholder="Nueva fecha de caducidad"
                                               class="editable-input form-contorl input-sm" required md-open-on-focus>
                                </md-datepicker>
                                <!--<input type="text" name="fechaCaducidad" ng-model="row.fechaCaducidad"-->
                                <!--class="editable-input form-control input-sm" required/>-->
                            </div>
                        </td>
                        <td style="white-space:nowrap;">
                            <button class="btn btn-primary btn-sm" ng-click="vm.save(row, rowForm)"
                                    ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button class="btn btn-default btn-sm" ng-click="vm.cancel(row, rowForm)"
                                    ng-if="row.isEditing">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button class="btn btn-default btn-sm" ng-click="row.isEditing = true"
                                    ng-if="!row.isEditing">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-sm" ng-click="vm.del(row)" ng-if="!row.isEditing">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    <tr class="accordian-body collapse" id="{{row.nombreProducto}}">
                        <td colspan="3" style="text-align: left;">
                            <strong>Descripción:</strong><br>{{row.descripcion}}
                        </td>
                        <td colspan="2" style="text-align: left;">
                            <strong>Calorías:</strong> {{row.calorias}} <strong>cal</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h2>Añadir un nuevo producto al inventario:</h2>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form class="form" role="form" ng-submit="vm.addProducto($event)">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <label>Nombre:</label>
                                    <!--<input type="text" name="nombreProducto" ng-model="vm.nombreProducto"-->
                                           <!--placeholder="Introducir nombre" class="form-control" required/>-->
                                    <ui-select ng-model="selected.value" theme="bootstrap" tabindex="3">
                                        <ui-select-match placeholder="Selecciona un producto de la lista...">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="option in (vm.availableOptions | filter: $select.search) track by option.value">
                                            <div ng-bind-html="option.value | highlight: $select.search" ></div>
                                            <small ng-bind-html="option.name | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <label>Fecha de caducidad:</label>
                                    <br/>
                                    <md-datepicker name="fechaCaducidad" ng-model="vm.fechaCaducidad"
                                                   md-placeholder="Introducir fecha de caducidad"
                                                   required md-open-on-focus>
                                    </md-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <label>Cantidad:</label>
                                    <input type="number" name="cantidad" ng-model="vm.cantidad"
                                           placeholder="Introducir cantidad" class="form-control" min="1" required/>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <label>Cantidad mínima:</label>
                                    <input type="number" name="cantidadMinima" ng-model="vm.cantidadMinima"
                                           placeholder="Introducir cantidad mínima" class="form-control" min="1" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                <input type="submit" class="form-control btn btn-primary" value="Añadir producto"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>