<div class="jumbotron">
    <div class="container text-center">
        <img src="https://i.imgur.com/wO2fhHO.jpg" height="300" width="300">
        <br>
        <br>
        <p>Nuestro objetivo es ayudar a las personas a llevar un mejor
            control de su dieta e inventario de comida.</p>
        <br/>
        <p>¡Regístrate si no tienes todavía una cuenta o accede con tus credenciales existentes!</p>
        <p>
            <a class="btn btn-success btn-lg" href="" role="button" ng-click="vm.register()">Regístrate</a>
            <a class="btn btn-primary btn-lg" href="" role="button" ng-click="vm.login()">Acceso</a>
        </p>
        <p></p>
    </div>
</div>