<style>
    .row{
        margin-bottom:20px;
    }
    h1{
        margin-bottom:20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-switch on="vm.data[0].length == 0">
            <h1>
                Historial de su peso
            </h1>
            <div class="row" ng-switch-when="true">
                <div class="jumbotron">
                    <div class="container text-center">
                        <p>¡Uy! Parece ser que no existen registros de su peso en el sistema</p>
                    </div>
                </div>
            </div>
            <div class="row" ng-switch-when="false">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <canvas class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels"
                            chart-click="vm.onClick" chart-options="vm.chartOptions"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form class="form" role="form" ng-submit="vm.addPeso($event)">
                        <div class="form-group">
                            <label>Añadir un nuevo peso al historial (kilos):</label>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="number" class="form-control" placeholder="Introducir peso"
                                           min="30" required="required" step="any" ng-model="vm.peso"/>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <input type="submit" class="form-control btn btn-primary" value="Añadir peso"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-switch on="vm.products.length == 0">
            <h1>
                Resumen de su inventario
            </h1>
            <div class="row" ng-switch-when="true">
                <div class="jumbotron">
                    <div class="container text-center">
                        <p>¡Uy! Parece ser que no existen productos en el inventario</p>
                    </div>
                </div>
            </div>
            <div class="row" ng-switch-when="false">
                <table ng-table="vm.inventario" class="table table-bordered" id="accordion">
                    <tbody ng-repeat="row in $data" ng-form="rowForm" style="text-align: center" data-toggle="collapse"
                           data-target="#{{row.nombreProducto}}" data-parent="#accordion" class="accordion-toggle">

                        <tr>
                            <td data-title="'Nombre'"  sortable="'nombreProducto'"
                                filter="{nombreProducto: 'text'}">{{row.nombreProducto}} </td>
                            <td data-title="'Cantidad'" sortable="'cantidad'"
                                filter="{cantidad: 'number'}">{{row.cantidad}}</td>
                            <td data-title="'Mínimo'" sortable="'cantidadMinima'"
                                filter="{cantidadMinima: 'number'}">{{row.cantidadMinima}}</td>
                            <td data-title="'Caducidad'" sortable="'fechaCaducidad'"
                                filter="{fechaCaducidad: 'text'}">{{row.fechaCaducidad | date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr class="accordian-body collapse" id="{{row.nombreProducto}}">
                            <td colspan="3" style="text-align: left;">
                                <strong>Descripción:</strong><br>{{row.descripcion}}
                            </td>
                            <td colspan="2" style="text-align: left;">
                                <strong>Calorías:</strong> {{row.calorias}} <strong>cal</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>