<style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    fieldset, label { margin: 0; padding: 0; }
    h1 { font-size: 1.5em; margin: 10px; }

    /****** Style Star Rating Widget *****/

    .rating {
        border: none;
        float: left;
    }

    .rating > input { display: none; }
    .rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
</style>
<div class="container" style="text-align: center">
    <div class="row">
        <h1>Introduzca el nombre de la dieta, calorías máximas o alérgenos</h1>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Introduzca nombre, calorías máximas o keywords" ng-model="vm.search" ng-change="vm.filter(vm.search)">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1>Dietas</h1>
            <uib-accordion>
                <div uib-accordion-group class="panel-default" heading="{{dieta.title}}"
                     ng-repeat="dieta in vm.getDietas()">
                    {{dieta.content}}
                    <br/><b>Calorías:</b> {{dieta.calories}}
                    <br>
                    <fieldset class="rating align-center" ng-click="vm.changeRatingDieta(dieta)">
                        <input type="radio" id="star5" name="rating" ng-value="5" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" ng-value="4.5" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" ng-value="4" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" ng-value="3.5" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" ng-value="3" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" ng-value="2.5" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" ng-value="2" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" ng-value="1.5" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" ng-value="1" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="0.5" ng-model="vm.ratingsDietas[dieta.id]"/>
                            <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>
            </uib-accordion>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1>Recetas</h1>
            <uib-accordion>
                <div uib-accordion-group class="panel-default" heading="{{receta.title}}" ng-repeat="receta in vm.getRecetas()">
                    {{receta.content}}
                    <br/><b>Calorías:</b> {{receta.calories}}
                    <br>
                    <fieldset class="rating align-center" ng-click="vm.changeRatingReceta(receta)">
                        <input type="radio" id="recetastar5" name="recetarating" ng-value="5" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class = "full" for="recetastar5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="recetastar4half" name="recetarating" ng-value="4.5" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class="half" for="recetastar4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="recetastar4" name="recetarating" ng-value="4" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class = "full" for="recetastar4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="recetastar3half" name="recetarating" ng-value="3.5" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class="half" for="recetastar3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="recetastar3" name="recetarating" ng-value="3" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class = "full" for="recetastar3" title="Meh - 3 stars"></label>
                        <input type="radio" id="recetastar2half" name="recetarating" ng-value="2.5" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class="half" for="recetastar2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="recetastar2" name="recetarating" ng-value="2" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class = "full" for="recetastar2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="recetastar1half" name="recetarating" ng-value="1.5" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class="half" for="recetastar1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="recetastar1" name="recetarating" ng-value="1" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class = "full" for="recetastar1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="recetastarhalf" name="recetarating" value="0.5" ng-model="vm.ratingsRecetas[receta.id]"/>
                            <label class="half" for="recetastarhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>